  <h1>Lista de Peliculas</h1>

  <div class="row">
    <app-new-ficha-video 
        (clicked)="guardar($event)"></app-new-ficha-video>
  </div>

  <div class="row">
    <app-tarjeta-video 
        *ngFor="let v of listaFichasVideos" [tarjetaVideo]="v"></app-tarjeta-video>
  </div>

